<ion-header>
  <ion-title>Cadastro</ion-title>
</ion-header>


<ion-content color='dark' padding>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="8" size-md="4" size-lg="3" size-xl="3">

        <h1 text-center>
          <ion-icon name="contact" color="primary" class="icon-7em"></ion-icon>
        </h1>

        <form [formGroup]="cadastroForm" (submit)="onSubmit()">


          <ion-item>
            <ion-icon name="person" color="primary" slot="start"></ion-icon>
            <ion-input type="text" placeholder="Nome Completo" formControlName="name"></ion-input>
            
            <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('required')">
              Campo obrigatório
            </ion-note>
            <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('minlength')">
              Min 3 characters
            </ion-note>

          </ion-item>


          <ion-item>
            <ion-icon name="mail" color="primary" slot="start"></ion-icon>
            <ion-input type="email" color="dark" placeholder="Email" formControlName="email" inputmode="email"
              autofocus="true">
            </ion-input>
           
            <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">
              Required
            </ion-note>
            <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">
              Email Invalido
           
            </ion-note>
          </ion-item>


          <ion-item>
            <ion-icon name="phone-portrait" color="primary" slot="start"></ion-icon>
            <ion-input type="number" color="dark" placeholder="CPF" formControlName="cpf"
              autofocus="true">
            </ion-input>
           
            <ion-note slot="end" color="danger" *ngIf="cpf.dirty && cpf.hasError('required')">
              Campo Obrigatório
            </ion-note>
            <ion-note slot="end" color="danger" *ngIf="cpf.dirty && email.hasError('minLength')">
              CPF Invalido
           
            </ion-note>
          </ion-item>


          <ion-item>
            <ion-icon name="lock" color="primary" slot="start"></ion-icon>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
           
            <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('required')">
              Required
            </ion-note>
            <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('minlength')">
              Min 6 characters
           
            </ion-note>
          </ion-item>


          <ion-button expand="block" fill="outline" (click)="cadastrar()">
            Cadastrar
          </ion-button>

        </form>

        <ion-button expand="block" fill="outline" (click)="cancelar()">Cancelar</ion-button>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>