<ion-content class="main" color='dark' padding>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="8" size-md="4" size-lg="3" size-xl="3">

        <h1 text-center>
          <img src="../../../../assets/icon/logo.png">
        </h1>

        <form [formGroup]="authForm" (submit)="onSubmit()">


          <ion-item>
            <ion-icon name="mail" color="primary" slot="start"></ion-icon>
            <ion-input type="email" color="dark" placeholder="Email" formControlName="email" inputmode="email"
              autofocus="true">
            </ion-input>
            <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">
              Obrigatório
            </ion-note>
            <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">
              Email Invalido
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-icon name="lock" color="dark" slot="start"></ion-icon>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
            <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('required')">
              Obrigatorio
            </ion-note>
            <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('minlength')">
              Min 6 characters
            </ion-note>
          </ion-item>

          <ion-button color="primary" fill="outline" expand="block" type="submit" [disabled]="authForm.invalid">
            Login
          </ion-button>
        </form>


        <ion-button expand="block" fill="clear" routerLink="/cadastro">Criar uma Conta</ion-button>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>