<ion-header>
  <ion-toolbar>
    <ion-title>Minha Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <p id="name">User/p>

  </div>


  <div class="mid" padding>
    <ion-avatar>
      <img src="https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584_960_720.png">
    </ion-avatar>
  </div>

  <div class="bottom">
    <br>

    <ion-item color="#D7CEC7">
      <ion-button fill="clear" expand="block" color="light">Dados Pessoais</ion-button>
    </ion-item>

    <ion-item color="D7CEC7">
      <ion-button fill="clear" expand="block" color="light">Segurança</ion-button>
    </ion-item>

    <ion-item color="D7CEC7">
      <ion-button fill="clear" expand="block" color="light">Sair</ion-button>
    </ion-item>

  </div>

</ion-content>