<ion-header>
  <ion-toolbar>
    <ion-title>checkout</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-list inset="true">
    <ion-list-header>
      <ion-label>Items</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of itens"> {{item.quantidade}}x {{ item.produto.marca }} {{ item.produto.modelo }}
    </ion-item>

  </ion-list>


  <ion-list inset="true">
    <ion-list-header>
      <ion-label>Endereco de Entrega</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let endereco of enderecos">
      <ion-label>{{ endereco.rua }}
                 {{ endereco.numero }}
                 {{ endereco.bairro }}
      </ion-label>
      <ion-radio slot="start"></ion-radio>
    </ion-item>
  </ion-list>


  <ion-segment (ionChange)="segmentChanged($event)" value="boleto">
    <ion-segment-button value="boleto">
      <ion-label>Boleto</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cartao">
      <ion-label>Cartao</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-list inset="true" *ngIf="payMethodCard">
    <ion-item>
      <ion-label position="floating">Numero do Cartão</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome do Titular</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CPF do Titular</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CVV</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Validade</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-button shape="round" expand="block">Confirmar Compra</ion-button>

</ion-content>